{% if (summaryEntry.resultSeverityLabel == "Violation") %}
	<span title="Violation"><i class="fal fa-engine-warning"></i></span>
{% elseif (summaryEntry.resultSeverityLabel == "Warning") %}
	<span title="Warning"><i class="fal fa-exclamation-triangle"></i></span>
{% elseif (summaryEntry.resultSeverityLabel == "Info") %}
	<span title="Info"><i class="fal fa-comment-alt-exclamation"></i></span>
{% else %}
	<span title="Other"><i class="fal fa-exclamation"></i></span>		
{% endif %}
&nbsp;

{% if (toc) %}
	{{summaryEntry.count}} <em>"{{summaryEntry.message}}"</em>
	{% if (summaryEntry.resultPath) %}
		on {{ summaryEntry.resultPath }}
	{% endif %}
	&nbsp;<a href="#{{summaryEntry.hashCode()}}"><i class="fal fa-angle-double-down"></i></a>
{% else %}
	{{summaryEntry.count}} <em>"{{summaryEntry.message}}"</em>
	{% if (summaryEntry.resultPath) %}
		on {{ summaryEntry.resultPath }}
	{% endif %}
{% endif %}