
<style type="text/css">
	.report-section {
		margin-top: 2em;
	}
	
	.table-outer {
		height:250px;
		overflow:hidden;
	}
	
	.table-outer.open {
		height:unset;
		overflow:visible;
	}
</style>

<div class="row  justify-content-center">
<div class="col">

<div class="report-header card">
          <div class="card-header {{ report.globalSeverity.headerCssClass }}">
	      	<h3><i class="fal {{ report.globalSeverity.icon }}"></i>&nbsp;&nbsp;
	      	{% include 'classpath:/views/ReportTitle.twig' with { 
	      	    violations: report.validationReport.numberOfViolations,
	      	    warnings : report.validationReport.numberOfWarnings,
	      	    infos : report.validationReport.numberOfInfos,
	      	    others : report.validationReport.numberOfOthers
	      	} %}</h3>
          </div>
          <div class="card-body">
            <ul style="list-style-type: none;">
            	{% for summaryEntry in report.resultsSummary %}
            		<li>{% include 'classpath:/views/SummaryEntryTitle.twig' with { toc: true } %}</li>
            	{% endfor %}
            </ul>
          </div>
</div><!-- /.report-header -->

<div class="report-body">
{% for summaryEntry in report.resultsSummary %}
	<div id="{{summaryEntry.hashCode()}}" class="report-section">
		<h3>{% include 'classpath:/views/SummaryEntryTitle.twig' with { toc: false } %}</h3>

		<div class="report-section-card card">
          <div class="card-header">
			<ul>
				<li>Shape : {{summaryEntry.sourceShape}}</li>
				<li>Constraint : {{summaryEntry.sourceConstraintComponent}}</li>
			</ul>
          </div>
          <div class="card-body">
          	{% if summaryEntry.count > 10 %}
                <div class="table-outer">
        			<table class="table table-borderless table-sm">
                        <thead>
                          <tr>
                            <th>Focus node</th>
                            <th>Property or path</th>
                            <th>Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for result in report.getResultsFor(summaryEntry) %}
                              <tr>
                                <td><span title="{{result.shresult.focusNode}}">{{result.focusNode}}</span></td>
                                <td><span title="{{result.shresult.path}}">{{result.resultPath}}</span></td>
                                <td>{{result.value}}</td>
                              </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div><a class="toggleTableLink" href="#"><i>show/hide all {{ summaryEntry.count }} results</i></a></div>
            {% else %}
        	     <table class="table table-borderless table-sm">
                    <thead>
                      <tr>
                        <th>Focus node</th>
                        <th>Property or path</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for result in report.getResultsFor(summaryEntry) %}
                          <tr>
                            <td><span title="{{result.shresult.focusNode}}">{{result.focusNode}}</span></td>
                            <td><span title="{{result.shresult.path}}">{{result.resultPath}}</span></td>
                            <td>{{result.value}}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
            {% endif %}
          </div>
		</div><!-- /.report-section -->
	</div>
{% endfor %}
</div> <!-- /.report-body -->

</div>
</div>
